version: '3.9'

services:
  gateway:
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile
    image: at77/gateway:latest
    container_name: gateway
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: production
    depends_on:
      - client

  client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
    image: at77/client:latest
    container_name: client
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production

  opensearch:
    image: opensearchproject/opensearch:latest
    environment:
      - discovery.type=single-node
    ports:
      - "9200:9200"
      - "9600:9600"

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    environment:
      - OPENSEARCH_HOSTS=http://opensearch:9200
    ports:
      - "5601:5601"
